<!DOCTYPE html>
<html lang="en">
  <head>
    <title>autodex</title>
    <link rel="shortcut icon" ref="favicon.ico">
  </head>
  <body class="container">
      <header>
        <h1>autodex</h1>
      </header>
      <main>
        <table>
          <thead>
            <th>Organization</th>
            <th>Name</th>
            <th>Address</th>
            <th>City</th>
            <th>Statecode</th>
            <th>Postcode</th>
            <th>E-mail</th>
            <th>Phone</th>
          </thead>
          <tbody>
            <% for (let i = 0; i < contacts.length; i++) {%>
               <tr>
                 <td><%- contacts[i].organization %></td>
                 <td><%- contacts[i].contact %></td>
                 <td><%- contacts[i].address1 %></td>
                 <td><%- contacts[i].city %></td>
                 <td><%- contacts[i].statecode %></td>
                 <td>
                   <%- contacts[i].postcode %>
                   <% if (contacts[i].postcode4) {%>
                   -
                   <%- contacts.postcode4 %>
                   <% }%>
                 </td>
                 <td><%- contacts[i].email %></td>
                 <td><%- contacts[i].phone1 %></td>
               </tr>
            <% }%>
          </tbody>
        </table>
      </main>
      <footer>
        <hr>
        &copy; 2022 <a href="https://metatooth.com">Metatooth LLC</a>
      </footer>
  </body>
</html>
